@use './styles.scss' as *;
@use 'sass:color';
.signup-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 2rem;
    background: $card-background;
    box-shadow: $box-shadow;
    border-radius: 10px;
    text-align: center;
    
    h2 {
      margin-bottom: 1.5rem;
      color: $text-color;
    }
  
    .input-group {
      text-align: left;
      margin-bottom: 1rem;
  
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: $text-color;
      }
  
      input {
        width: 100%;
        padding: 10px;
        border: 1px solid $border-color;
        border-radius: 5px;
        background: $background-color;
        color: $text-color;
      }
    }
  
    button {
      width: 100%;
      padding: 10px;
      border: none;
      background-color: $success-color;
      color: white;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: $transition;
  
      &:hover {
        background-color: color.scale($success-color, $lightness: -10%);
      }
    }
  
    p {
      margin-top: 1rem;
      a {
        color: $success-color;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
